*{
    font-family: 'Teko', sans-serif;
    color: white
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    width: 100%;
}

nav>ul>li{
    display: block;
    font-size: 1.5em;
    line-height: 1.4em;
}

.nav-link{
    color: white;
    text-transform: uppercase;
}

body{
    background-image: url("/artist-project/resources/images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.music-background{
    background-image: url("/artist-project/resources/images/music-nav-image.png");
}

.videos-background{
    background-image: url("/artist-project/resources/images/video-nav-image.png");
}

.tour-background{
    background-image: url(/artist-project/resources/images/tour-nav-image.png);
}

.about-background{
    background-image: url(/artist-project/resources/images/about-nav-image.png);
}

/*Logga i mitten*/
main>section>img{
    display: block;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -60%);
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    margin-right: 20px;
}


.nav-link:hover{
    color: rgb(207, 207, 207)
}

@media (min-width: 767px){
    header{
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 30px 20px 0px 40px;
        margin-bottom: 75px;
    }
}