*{
    font-family: 'Teko', sans-serif;
    color: white
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    width: 100%;
}

nav>ul>li{
    display: block;
    font-size: 1.5em;
    line-height: 1.4em;
}

.nav-link{
    color: white;
    text-transform: uppercase;
}

body{
    background-image: url("../images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*Här sätta bakgrundbild på body när respektive html klickas*/
.music-background{
    background-image: url("../images/music-nav-image.png");
}

.videos-background{
    background-image: url("../images/video-nav-image.png");
}

.tour-background{
    background-image: url("../images/tour-nav-image.png");
}

.contact-background{
    background-image: url("../images/contact-nav-image.png");
}

/*Logga i mitten*/
main>section>img{
    /*Försökte centrera loggan med hjälp av bootstrap och tog hjälp av informationen från bland annat detta ställe: https://blog.hubspot.com/website/center-an-image-in-html
    hur som helst fick jag inte löst det utan fortsatte därav med min lösning innehållande position: absolute */
    display: block;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -60%);
}


footer{
    /*Samma gäller här som ovan*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    margin-right: 20px;
}


.nav-link:hover{
    color: rgb(207, 207, 207)
}

@media (min-width: 767px){
    header{
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 30px 20px 0px 40px;
        margin-bottom: 75px;
    }
}