#tour-schedule {
    font-size: 1.5em;
}

#tour-schedule .col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

button {
    background: none;
    padding: 18px 40px;
    border: 1px solid #fff;
}